@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*CORES*/
    --color-principal-light: #427a91;
    --color-principal: #074E63;
    --color-principal-dark: #002639;
    
    
    --color-secundary-light: #e94b5d;
    --color-secundary-dark: #7a000f;
    --color-secundary-3: #B10333;

    --color-text: #ffffff ;

    /*FONTES*/
    --font-principal: roboto, sans-serif;
    
}

body{
    font-family: var(--font-principal);
}

/*HEADER*/
header{
    background-color: var(--color-principal);
}

#logo{
    margin: 13px 21px;
    width: 110px;
}
nav{
    border-top: solid 1px var(--color-text);
    padding: 0px 21px;
    position: relative;
}


ul#menu-principal > li{
    display: inline-block;
    list-style: none;
    padding: 13px;
    
    
}

ul#menu-principal li a{
    text-decoration: none;
    color: var(--color-text);
    font: normal 1.1em var(--font-principal);
    
    
}

ul#menu-principal li:hover{
    border-bottom: solid 5px var(--color-text);
}

#aba-atual{
    border-bottom: solid 5px var(--color-text);
}

/*FOOTER*/
footer{
    background-color: var(--color-principal);
    color: var(--color-text);
    font: bold 1em  var(--font-principal);
    text-align: center;
    padding: 8px;
    margin: 21px 0px;
}