@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*CORES*/
    --color-principal-light: #427a91;
    --color-principal: #074E63;
    --color-principal-dark: #002639;
    
    
    --color-secundary-light: #e94b5d;
    --color-secundary-dark: #7a000f;
    --color-secundary-3: #B10333;

    --color-text: #ffffff ;

    /*FONTES*/
    --font-principal: roboto, sans-serif;
    
}
/*CONFIGURAÇÕES GERAIS*/
a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: var(--font-principal);
}


/*HEADER*/
header{
    background-color: var(--color-principal);
}

#logo{
    margin: 13px 21px;
    width: 110px;
}
nav{
    border-top: solid 1px var(--color-text);
    padding: 0px 21px;
    position: relative;
}

ul#menu-principal > li{
    display: inline-block;
    padding: 13px;
}

ul#menu-principal li a{
    color: var(--color-text);
    font: normal 1.1em var(--font-principal);
}

ul#menu-principal li:hover{
    border-bottom: solid 5px var(--color-text);
}

#aba-atual{
    border-bottom: solid 5px var(--color-text);
}

/*MAIN*/
main{
    background-color: burlywood;
    max-width: 1000px;
    margin: auto;
}

aside#menu-entrevistas{
    background-color: white;
    
    margin: 21px;
    width: 170px;
    float: left;
}

aside#menu-entrevistas li{
    padding: 8px 13px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.281);
}

aside#menu-entrevistas a{
    color: #000;
    font-size: 0.9em;
}

aside#menu-entrevistas li:hover{
    background-color: var(--color-principal-light);
    color: var(--color-text);
}

h2{
    font: bold 1.2em var(--font-principal);
    text-align: center;
    color: var(--color-text);

    background-color: var(--color-principal);
    padding: 8px;
}

section{
    display: inline-block;
    margin: 21px;
}
img{
    width: 50%;
}
.topicos{
    
    
}

/*FOOTER*/
footer{
    background-color: var(--color-principal);
    color: var(--color-text);
    font: bold 1em  var(--font-principal);
    text-align: center;
    padding: 8px;
    margin: 21px 0px;
}